{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/animate.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body>
   <div class="col-lg-8">
    <form action="/addUser/" method="POST">
            {%  csrf_token %}
        <div class="form-group" >
            <label for="cname">Customer Name</label>
            <input type="text" class="form-control" id="cname" placeholder="Customer Name">
        </div>
        <div class="form-group">
            <label for="cemail">Customer Email</label>
            <input type="text" class="form-control" id="cemail" placeholder="Customer Email">
        </div>
        <div class="form-group">
            <label for="cname">Customer Password</label>
            <input type="text" class="form-control" id="cpassword" placeholder="Customer Password">
        </div>
        <div class="form-group">
            <label for="ccountry">Customer Country</label>
            <input type="text" class="form-control" id="ccountry" placeholder="Customer Country">
        </div>
        <div class="form-group">
            <label for="caddress">Customer caddress</label>
            <input type="text" class="form-control" id="caddress" placeholder="Customer Address">
        </div>
        <div class="form-group">
            <label for="cphoneNo">Customer PhoneNo</label>
            <input type="text" class="form-control" id="cphoneNo" placeholder="Customer PhoneNo">
        </div>
        <div class="form-group">
            <label for="cpostalCode">Customer PostalCode</label>
            <input type="text" class="form-control" id="cpostalCode" placeholder="Customer PostalCode">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div> 
    </body>
    </html>