{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>CATEGORY</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="{% static 'img/logo.png' %}" rel="shortcut icon' %}"/>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/elegant-font/html-css/style.css' %}">

</head>
<body>
	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="{% url 'main' %}" class="site-logo">
							<img src="{% static 'img/logo.png' %}" alt="">
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
						<form class="header-search-form">
							<input type="text" placeholder="Search on My Mart....">
							<button><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 col-lg-5">
						<div class="user-panel">
							<div class="up-item">
								<i class="flaticon-profile"></i>
								{% if request.session.email %}
									<a href="{% url 'signOut' %}">Sign Out</a>
								{% else %}
									<a href="{% url 'signIn' %}">Sign</a> In or <a href="{% url 'signUp' %}">Create Account</a>
								{% endif %}
								
							</div>
							<div class="up-item">
								<div class="shopping-card">
									<i class="flaticon-bag"></i>
								</div>
								<a href="{% url 'checkout' %}">Shopping Cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="main-navbar">
			<div class="container">
				<!-- menu -->
				<ul class="main-menu">
					<li><a href="{% url 'main' %}">Home</a></li>
					<li><a href="{% url 'categoryFemale' %}">Women</a></li>
					<li><a href="{% url 'categoryMale' %}">Men</a></li>
					<li><a href="#">Child</a></li>
					<li><a href="#">Shoes</a>
						<ul class="sub-menu">
							<li><a href="#">Sneakers</a></li>
							<li><a href="#">Sandals</a></li>
							<li><a href="#">Dress Shoes</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->
	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<h4>CAtegory PAge</h4>
					<div class="site-pagination">
						<a href="">Home</a> /
						<a href="">Shop</a> /
					</div>
				</div>
				<div class="col-lg-3" style="display:inline;">
					<h4>Sort By</h4>
					<form>
						<select>
							<option>Price</option>
							<option>Position</option>
						</select>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- Category section -->
	<section class="category-section spad bgwhite">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="filter-widget">
						<h2 class="fw-title">Categories</h2>
						<ul class="category-menu">
							<li><a href="{% url 'categoryFemale' %}">Woman</a>
								<ul class="sub-menu">
									<li><a href="#">Dresses<span>(36)</span></a></li>
									<li><a href="#">Dresses<span>(19)</span></a></li>
								</ul>
							</li>
							<li><a href="{% url 'categoryMale' %}">Man</a>
								<ul class="sub-menu">
									<li><a href="#">A<span>(6)</span></a></li>
									<li><a href="#">C<span>(3)</span></a></li>
									<li><a href="#">B<span>(2)</span></a></li>
								</ul></li>
							<li><a href="#">Children</a></li>
							<li><a href="#">Footwear</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
					<div class="row">
					
					<!--Prducts-->
					
					<!-- {% for product in products %}

				<div class="col-sm-12 col-md-6 col-lg-4 ">
					<div class="block2-img wrap-pic-w of-hidden pos-relative "><!--class="block2-labelnew" Label New-->
						<!--<img src="{% static 'img/product/1.png' %}" alt="IMG-PRODUCT" height="250px">
						<img src="{% static product.P_image.url %}" alt="IMG-PRODUCT" height="250px">
						<div class="block2-overlay trans-0-4">-->
							<!--<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
								<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
							</a>
							<div class="block2-btn-addcart w-size1 trans-0-4">
								<p>{{ product.P_id }}</p>
								<a href="addCart/{{ product.P_id }}" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">Add to Cart</a>
							</div>
						</div>
					</div>
					<div class="block2-txt p-t-20">
						<a href="" class="block2-name dis-block s-text3 p-b-5">
							{{product.P_name}}
						</a>

						<span class="block2-price m-text6 p-r-5">
							{{product.P_price}}
						</span>
					</div>	
				</div>

				{% endfor %} -->
				
				{% for post in posts %}

				<div class="col-sm-12 col-md-6 col-lg-4 ">
					<div class="block2-img wrap-pic-w of-hidden pos-relative ">
						<img src="{% static post.P_image.url %}" alt="IMG-PRODUCT" height="250px">
						<div class="block2-overlay trans-0-4">
							<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
								<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
							</a>
							<div class="block2-btn-addcart w-size1 trans-0-4">
								<p>{{ post.P_id }}</p>
								<a href="../addCart/{{ post.P_id }}" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">Add to Cart</a>
							</div>
						</div>
					</div>
					<div class="block2-txt p-t-20">
						<a href="" class="block2-name dis-block s-text3 p-b-5">
							{{post.P_name}}
						</a>

						<span class="block2-price m-text6 p-r-5">
							{{post.P_price}}
						</span>
					</div>	
				</div>

				{% endfor %}

			</div>
				</div>
				
			</div>
			<div class="pagination" style="float: right;">

				{% if posts.has_previous %}
				  <a class="pagination-action" href="?page=1">
				   <i class="fa fa-angle-double-left" aria-hidden="true"></i>
				  </a>
				  <a class="pagination-action" href="?page={{ posts.previous_page_number }}">
					<i class="fa fa-angle-left" aria-hidden="true"></i>
				  </a>
				{% endif %}
			  
				<span class="pagination-current">{{ posts.number }}</span>
				<span class="pagination-of">of</span>
				<span class="pagination-total">{{ posts.paginator.num_pages }}</span>
			  
				{% if posts.has_next %}
				  <a class="pagination-action" href="?page={{ posts.next_page_number }}">
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				  </a>
				  <a class="pagination-action" href="?page={{ posts.paginator.num_pages }}">
					<i class="fa fa-angle-double-right" aria-hidden="true"></i>
				  </a>
				{% endif %}
			  
			  </div>
		</div>
	</section>
	<!-- Category section end -->

	
	
	
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			
		</div>
	</section>

	<!-- Footer section -->
	<section class="footer-section">
	<div class="container">
				<div class="footer-logo text-center">
					<a href="#"><img src="{% static './img/logo-light.png' %}" alt=""></a>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget">
							<h2>About</h2>
							<p>A platform where you can buy anything online with best quality.</p>
							
								<span>T.</span>
								<p>+92 300 1234567</p>
								<span>E.</span>
								<p>My.Mart@mart.org</p>
							
							<img src="{% static 'img/cards.png' %}" alt="">
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget about-widget">
							<h2>MY MART</h2>
							<ul>
								<li><a href="">About Us</a></li>
								<li><a href="">Career</a></li>
								<li><a href="">Jobs</a></li>
								<li><a href="">Policy</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget about-widget">
							<h2>HELP</h2>
							<ul>
								<li><a href="">Ordering</a></li>
								<li><a href="">Pay</a></li>
								<li><a href="">Return</a></li>
								<li><a href="">Delivary</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget ">
							<h2>Apps</h2>
							<div >
								<img src="{% static 'img/appStore.png' %}" alt="" style="margin-bottom: 10px; height: 50px; width: 100px;">
								<br>
								<img src="{% static 'img/googlePlay.jpg' %}" alt=""style="margin-bottom: 10px; height: 50px; width: 100px;">
							</div>
						</div>
					</div>
				</div> 
	</div>		
	
		</section>
		<!-- Footer section end -->
	
		<!--====== Javascripts & Jquery ======-->
		<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
		<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	
		</body>
	</html>
	