{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
	<title>CheckOut</title>
	<meta charset="UTF-8">
	<meta name="description" content=" MY MART">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- ICON -->
	<link href="{% static 'img/logo.png" rel="shortcut icon' %}"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}"/>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12" style="text-align:right;">
				<div class="user-panel">
					<div class="up-item">
						<i class="flaticon-smartphone"></i>
						<a href="#">0800-1234567</a>
					</div>
					<div class="up-item">
						<div class="shopping-card">
							<i class="flaticon-envelope"></i>
						</div>
						<a href="#">My.Mart@mart.org</a>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="{% static './index.html' %}" class="site-logo">
							<img src="{% static 'img/logo.png' %}" alt="">
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
						<form class="header-search-form">
							<input type="text" placeholder="Search on My Mart....">
							<button><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 col-lg-5">
						<div class="user-panel">
							<div class="up-item">
								<i class="flaticon-profile"></i>
								{% if request.session.email %}
									<a href="{% url 'signOut' %}">Sign Out</a>
								{% else %}
									<a href="{% url 'signIn' %}">Sign</a> In or <a href="{% url 'signUp' %}">Create Account</a>
								{% endif %}
								
							</div>
							<div class="up-item">
								<div class="shopping-card">
									<i class="flaticon-bag"></i>
								</div>
								<a href="{% url 'checkout' %}">Shopping Cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="main-navbar">
			<div class="container">
				<!-- menu -->
				<ul class="main-menu">
					<li><a href="">Home</a></li>
					<li><a href="{% url 'categoryFemale' %}">Women</a></li>
					<li><a href="{% url 'categoryMale' %}">Men</a></li>
					<li><a href="{% url 'category' %}">Child</a></li>
					<li><a href="{% url 'category' %}">Shoes</a>
						<ul class="sub-menu">
							<li><a href="#">Sneakers</a></li>
							<li><a href="#">Sandals</a></li>
							<li><a href="#">Dress Shoes</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->
	
	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>MY CART</h4>
			<div class="site-pagination">
				<a href="">Home</a> /
				<a href="">My cart</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- checkout section  -->
	<section class="checkout-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 order-2 order-lg-1">
					<form class="checkout-form">
						<div class="cf-title">Phone Number Verfication</div>
						
						<div class="row address-inputs">
							<div class="col-md-6">
								<input type="text" placeholder="Phone no.">
							</div>
						</div>
						
						<div class="cf-title">Delievery Addresses 		
							<a href="{% url 'AddAddress' %}" class="" style="text-align: right; float: right; padding: 0%;">
							<i class="flaticon-add"></i> Add New</a>
						</div>
						<div class="cart-table">
							<div class="row shipping-btns">
								{% for cust in customers %}
								<div class="col-5 address">
									<input type="checkbox" value="checked" style="float:left;" id="checkbox" names="checkbox">
									<h4 class="address-content">{{ cust.Cust_address }}</h4>
									<h4 class="address-content">{{ cust.Cust_postalCode }}</h4>
									<h4 class="address-content">{{ cust.Cust_country }}</h4>
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="cf-title" style="margin-top:30px;">Delievery date & Time</div>
						<div class="cart-table">
						<div class="row shipping-btns">
							<div class="col-6">
								<h4>Date</h4>
							</div>
							<div class="col-6">
								<h4>March 12th, 2019</h4>
							</div>
							<br>	<br>
							<div class="col-6">
								<h4>Time  </h4>
							</div>
							<div class="col-6">
								<h4>9 : 30 PM  </h4>
							</div>
						</div></div>
						
					</form>
					
				</div>
				<div class="col-lg-5 order-1 order-lg-2">
						<form name="formqnty" method="GET" role="form">
								{% csrf_token %}
					<div class="checkout-cart">
						<ul class="price-list">
							<li><h3>My CART</h3></li>
						</ul>
						<hr>
						<ul class="price-list">
							<li>Sub Total<span></span></li>
							<li>Delievery Charges<span>free</span></li>
						</ul>
						<hr>
						
						{% for cart in carts %}
						<ul class="product-list">
							<li><div class="pl-thumb">
								  
								{% for product in products %}
									{% if product.P_id == cart.P_id.P_id %}
									<img src="{% static product.P_image.url %}" alt=""></div>
									<span>Price: {{ product.P_price }}</span>
									{% endif %}
								{% endfor %}
								<h6>Quantity: {{cart.Cart_quantity}}</h6>
								<div class="quantity">
											<div class="pro-qty" style="margin-right:50px;" >
												<input type="text" id="qnty" name="qnty" value="{{cart.Cart_quantity}}">
											</div>
											<span></span>
								</div>
								<div style="float:right;">
									<a class="btn btn-danger" href="/deletecart/{{ cart.Cart_id }}">Remove</a>
								</div>
							</li>
						</ul>
						{% endfor %}
						<hr><center>
						<a href="{% url 'invoice' %}" class="site-btn"><button type="button">Proceed to checkout</button></a></center>
					
					</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- checkout section end -->

	<!-- Footer section -->
	<section class="footer-section">
			<div class="container">
				<div class="footer-logo text-center">
					<a href="#"><img src="./img/logo-light.png" alt=""></a>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget contact-widget">
							<h2>About</h2>
							<p>A platform where you can buy anything online with best quality.</p>
							<div class="con-info">
								<span>T.</span>
								<p>+92 300 1234567</p>
							</div>
							<div class="con-info">
								<span>E.</span>
								<p>My.Mart@mart.org</p>
							</div>
							<img src="img/cards.png" alt="">
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget about-widget">
							<h2>MY MART</h2>
							<ul>
								<li><a href="">About Us</a></li>
								<li><a href="">Career</a></li>
								<li><a href="">Jobs</a></li>
								<li><a href="">Policy</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget about-widget">
							<h2>HELP</h2>
							<ul>
								<li><a href="">Ordering</a></li>
								<li><a href="">Pay</a></li>
								<li><a href="">Return</a></li>
								<li><a href="">Delivary</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget about-widget">
							<h2>Apps</h2>
							<div class="fw-latest-post-widget">
								<img src="{% static 'img/appStore.png' %}" alt="" style="margin-bottom: 10px; height: 50px; width: 100px;">
								<br>
								<img src="{% static 'img/googlePlay.jpg' %}" alt=""style="margin-bottom: 10px; height: 50px; width: 100px;">
							</div>
					</div>
				</div> 
			</div>		
		</section>
		<!-- Footer section end -->
	
		<!--====== Javascripts & Jquery ======-->
		<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
		<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	
		</body>
	</html>
	