{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>MY MART</title>
	<meta charset="UTF-8">
	<meta name="description" content=" MY MART">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="{% static 'img/logo.png" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/animate.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/elegant-font/html-css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

</head>
<body>

	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="{% url 'main' %}" class="site-logo">
							<img src="{% static 'img/logo.png' %}" alt="">
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
						<form class="header-search-form">
							<input type="text" placeholder="Search on My Mart....">
							<button><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 col-lg-5">
						<div class="user-panel">
							<div class="up-item">
								<i class="flaticon-profile"></i>
								{% if request.session.email %}
									<a href="{% url 'signOut' %}">Sign Out</a>
								{% else %}
									<a href="{% url 'signIn' %}">Sign</a> In or <a href="{% url 'signUp' %}">Create Account</a>
								{% endif %}
								
							</div>
							<div class="up-item">
								<div class="shopping-card">
									<i class="flaticon-bag"></i>
								</div>
								<a href="{% url 'checkout' %}">Shopping Cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="main-navbar">
			<div class="container">
				<!-- menu -->
				<ul class="main-menu">
					<li><a href="{% url 'main' %}">Home</a></li>
					<li><a href="{% url 'categoryFemale' %}">Women</a></li>
					<li><a href="{% url 'categoryMale' %}">Men</a></li>
					<li><a href="#">Child</a></li>
					<li><a href="#">Shoes</a>
						<ul class="sub-menu">
							<li><a href="#">Sneakers</a></li>
							<li><a href="#">Sandals</a></li>
							<li><a href="#">Dress Shoes</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->

	<div class="form-group">
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li>
				<div class="alert alert-success"> {{ message }}</div>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>

	<!-- section  -->
	<section class="checkout-section">
		<div class="container-fluid">
			<div class="row" >
				<div class="col-lg-3 order-2 order-lg-1">
					<img src="{% static 'img/product/1.png' %}" height="245px" width="300" style="margin-top: 5px;">
					<img src="{% static 'img/product/1.png' %}" height="245px" width="300" style="margin-top: 5px;">
			</div>
				<div class="col-lg-9 order-1 order-lg-2">
						<!-- Hero section -->
					<section class="hero-section">
							
						<div class="hero-slider owl-carousel">
							<div class="hs-item set-bg" data-setbg="{% static 'img/bg.jpg' %}">
								<div class="container">
									<div class="row">
										<div class="col-xl-6 col-lg-7 text-white">
											<span>New Stock</span>
											<h2>New Clothes</h2>
											<p>My MART is a platform where you can buy anything online with best quality. </p>
											<a href="#" class="site-btn sb-line">DISCOVER</a>
											<a href="#" class="site-btn sb-white">ADD TO CART</a>
										</div>
									</div>
									<div class="offer-card text-white">
										<span>from</span>
										<h2>$10</h2>
										<p>SHOP NOW</p>
									</div>
								</div>
							</div>
							<div class="hs-item set-bg" data-setbg="{% static 'img/bg-2.jpg' %}">
								<div class="container">
									<div class="row">
										<div class="col-xl-6 col-lg-7 text-white">
											<span>New Stock</span>
											<h2>New Clothes</h2>
											<p>My MART is a platform where you can buy anything online with best quality. </p>
											<a href="#" class="site-btn sb-line">DISCOVER</a>
											<a href="#" class="site-btn sb-white">ADD TO CART</a>
										</div>
									</div>
									<div class="offer-card text-white">
										<span>from</span>
										<h2>$10</h2>
										<p>SHOP NOW</p>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="slide-num-holder" id="snh-1"></div>
						</div>
					</section>
	<!-- Hero section end -->
				</div>
			</div>
		</div>
	</section>
	
	<!-- New Product -->
	<section class="newproduct bgwhite p-t-45 p-b-105">
		<div class="container">
			<div class="section-title p-b-60">
				<h2>Featured Products</h2>
			</div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2" style="margin:10px;">

					<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								<img src="{% static './img/product/1.png' %}" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Add to Cart
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="#" class="block2-name dis-block s-text3 p-b-5">
									Product
								</a>

								<span  style="text-align:right;">
									$75.00
								</span>
							</div>
						</div>
					</div>

					<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative">
								<img src="{% static './img/product/1.png' %}" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Add to Cart
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="#" class="block2-name dis-block s-text3 p-b-5">
									Product
								</a>

								<span class="block2-price m-text6 p-r-5">
									$92.50
								</span>
							</div>
						</div>
					</div>

					<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative">
								<img src="{% static './img/product/1.png' %}" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Add to Cart
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="#" class="block2-name dis-block s-text3 p-b-5">
									Product
								</a>

								<span class="block2-price m-text6 p-r-5">
									$165.90
								</span>
							</div>
						</div>
					</div>

					<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
								<img src="{% static './img/product/1.png' %}" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Add to Cart
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="#" class="block2-name dis-block s-text3 p-b-5">
									Product
								</a>

								<span class="block2-newprice m-text8 p-r-5">
									$15.90
								</span>
							</div>
						</div>
					</div>

					<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								<img src="{% static './img/product/1.png' %}" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Add to Cart
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="#" class="block2-name dis-block s-text3 p-b-5">
									Product
								</a>

								<span class="block2-price m-text6 p-r-5">
									$75.00
								</span>
							</div>
						</div>
					</div>

					<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative">
								<img src="{% static './img/product/1.png' %}" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Add to Cart
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="#" class="block2-name dis-block s-text3 p-b-5">
									Product
								</a>

								<span class="block2-price m-text6 p-r-5">
									$92.50
								</span>
							</div>
						</div>
					</div>

					<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
								<img src="{% static './img/product/1.png' %}" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Add to Cart
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="{% static '#' %}" class="block2-name dis-block s-text3 p-b-5">
									Product
								</a>

								<span class="block2-newprice m-text8 p-r-5">
									$15.90
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	

	<!-- Footer section -->
	<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="#"><img src="{% static './img/logo-light.png' %}" alt=""></a>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2>About</h2>
						<p>A platform where you can buy anything online with best quality.</p>
						<div class="con-info">
							<span>T.</span>
							<p>+92 300 1234567</p>
						</div>
						<div class="con-info">
							<span>E.</span>
							<p>My.Mart@mart.org</p>
						</div>
						<img src="{% static 'img/cards.png' %}" alt="">
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>MY MART</h2>
						<ul>
							<li><a href="">About Us</a></li>
							<li><a href="">Career</a></li>
							<li><a href="">Jobs</a></li>
							<li><a href="">Policy</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>HELP</h2>
						<ul>
							<li><a href="">Ordering</a></li>
							<li><a href="">Pay</a></li>
							<li><a href="">Return</a></li>
							<li><a href="">Delivary</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Apps</h2>
						<div class="fw-latest-post-widget">
							<img src="{% static 'img/appStore.png' %}" alt="" style="margin-bottom: 10px; height: 50px; width: 100px;">
							<br>
							<img src="{% static 'img/googlePlay.jpg' %}" alt=""style="margin-bottom: 10px; height: 50px; width: 100px;">
						</div>
				</div>
			</div> 
		</div>		
	</section>
	<!-- Footer section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'slick/slick-custom.js' %}"></script>

	</body>
</html>
