{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
	<title>Invoice</title>
	<meta charset="UTF-8">
	<meta name="description" content=" MY MART">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- ICON -->
	<link href="{% static 'img/logo.png" rel="shortcut icon' %}"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}"/>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12" style="text-align:right;">
				<div class="user-panel">
					<div class="up-item">
						<i class="flaticon-smartphone"></i>
						<a href="#">0800-1234567</a>
					</div>
					<div class="up-item">
						<div class="shopping-card">
							<i class="flaticon-envelope"></i>
						</div>
						<a href="#">My.Mart@mart.org</a>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="{% static './index.html' %}" class="site-logo">
							<img src="{% static 'img/logo.png' %}" alt="">
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
						<form class="header-search-form">
							<input type="text" placeholder="Search on My Mart....">
							<button><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 col-lg-5">
						<div class="user-panel">
							<div class="up-item">
								<i class="flaticon-profile"></i>
								{% if request.session.email %}
									<a href="{% url 'signOut' %}">Sign Out</a>
								{% else %}
									<a href="{% url 'signIn' %}">Sign</a> In or <a href="{% url 'signUp' %}">Create Account</a>
								{% endif %}
								
							</div>
							<div class="up-item">
								<div class="shopping-card">
									<i class="flaticon-bag"></i>
								</div>
								<a href="{% url 'checkout' %}">Shopping Cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="main-navbar">
			<div class="container">
				<!-- menu -->
				<ul class="main-menu">
					<li><a href="">Home</a></li>
					<li><a href="{% url 'categoryFemale' %}">Women</a></li>
					<li><a href="{% url 'categoryMale' %}">Men</a></li>
					<li><a href="{% url 'category' %}">Child</a></li>
					<li><a href="{% url 'category' %}">Shoes</a>
						<ul class="sub-menu">
							<li><a href="#">Sneakers</a></li>
							<li><a href="#">Sandals</a></li>
							<li><a href="#">Dress Shoes</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->
	
	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>MY CART</h4>
			<div class="site-pagination">
				<a href="">Home</a> /
				<a href="">My cart</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- checkout section  -->
	<section class="checkout-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 order-2 order-lg-1">
					
					<div class="cart-table">
						<div class="cart-table-warp">
							<table>
							<tbody>
								<tr>
									<td colspan="2">
										<h4>Customer Name</h4>
									</td>
									{% for customer in customers %}
									<td class="total-col"><h4>{{ customer.Cust_name }}</h4></td>
									{% endfor %}
								</tr>
								<tr>
									<td colspan="4">
										<h4>Address Detail</h4>
									</td>
								</tr>
								<tr>
									<td>Address</td>
									<td>Country</td>
									<td>Postal Code</td>
								</tr>
								<tr>
									{% for customer in customers %}
									<td >{{ customer.Cust_address }}</td>
									<td>{{ customer.Cust_country }}</td>
									<td>{{ customer.Cust_postalCode }}</td>
									{% endfor %}
								</tr>
								<tr>
									<td class="product-col">
										<div class="pc-title">
											<h4>&nbsp; </h4>
											<h4>Product's In Customer Cart</h4>
										</div>
									</td>
								</tr>
								<tr>
										<td>Product Code</td>
										<td>Product Name</td>
										<td>Product Quantity</td>
										<td class="total-col"><h4>Product Price</h4></td>
										<td class="total-col"><h4>Total Price</h4></td> 
								</tr>
								{% for cart in carts %}
									{% for product in products %}
										{% if product.P_id == cart.P_id.P_id %}
								<tr>
									<td>{{ product.P_id }}</td>
									<td>{{ product.P_name }}</td>
									<td>{{ cart.Cart_quantity }}</td>									
									<td class="total-col"><h4>{{ product.P_price }}</h4></td>
									 <td class="total-col"><h4>{{ product.price }}</h4></td> 
								</tr>
								{% endif %}
									{% endfor %}
									{% endfor %}
								<tr>
									<td class="product-col">
										<div class="pc-title">
											<h4>&nbsp; </h4>
											<h4>Total Ammount</h4>
										</div>
									</td>
									<td></td>
									<td class="total-col"><h4>{{ Tprice }}</h4></td>
								</tr>
								<tr>
									<td class="product-col">
										<div class="pc-title">
											<h4>&nbsp; </h4>
											<h4>Discount</h4>
										</div>
									</td>
									<td></td>
									<td class="total-col"><h4>Rs 0.0</h4></td>
								</tr>
							</tbody>
						</table>
						</div>
						<div class="total-cost">
							<h6>Payable Ammount Total <span>Rs {{ Tprice }}/-</span></h6>
						</div>
					
				</div>
				<center>
					<a href="" class="site-btn" style="margin-top:10px;">Cash on Delievery </a>
					<a href="" class="site-btn sb-dark">Credit/Debit card </a>
				</center>
				</div>
			</div>
		</div>
	</section>
	<!-- checkout section end -->

	<!-- Footer section -->
	<section class="footer-section">
			<div class="container">
				<div class="footer-logo text-center">
					<a href="#"><img src="./img/logo-light.png" alt=""></a>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget contact-widget">
							<h2>About</h2>
							<p>A platform where you can buy anything online with best quality.</p>
							<div class="con-info">
								<span>T.</span>
								<p>+92 300 1234567</p>
							</div>
							<div class="con-info">
								<span>E.</span>
								<p>My.Mart@mart.org</p>
							</div>
							<img src="img/cards.png" alt="">
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget about-widget">
							<h2>MY MART</h2>
							<ul>
								<li><a href="">About Us</a></li>
								<li><a href="">Career</a></li>
								<li><a href="">Jobs</a></li>
								<li><a href="">Policy</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget about-widget">
							<h2>HELP</h2>
							<ul>
								<li><a href="">Ordering</a></li>
								<li><a href="">Pay</a></li>
								<li><a href="">Return</a></li>
								<li><a href="">Delivary</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget about-widget">
							<h2>Apps</h2>
							<div class="fw-latest-post-widget">
								<img src="{% static 'img/appStore.png' %}" alt="" style="margin-bottom: 10px; height: 50px; width: 100px;">
								<br>
								<img src="{% static 'img/googlePlay.jpg' %}" alt=""style="margin-bottom: 10px; height: 50px; width: 100px;">
							</div>
					</div>
				</div> 
			</div>		
		</section>
		<!-- Footer section end -->
	
		<!--====== Javascripts & Jquery ======-->
		<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
		<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	
		</body>
	</html>
	