{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
	<title>Mail</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- ICON -->
	<link href="{% static 'img/logo.png' %}" rel="shortcut icon"/>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

</head>
<body>

	<!-- Address section -->
	<section class="checkout-section spad">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-6 contact-info">

					<form class="checkout-form contact-form" action="/create" method="GET">
					<div class="cf-title">Sign Up</div>

					{%  csrf_token %}
						<input type="text" placeholder="Your Full Name" name="fullname">
						<input type="email" placeholder="Your Email Address" name="email">
						<input type="text" placeholder="Your Country" name="country">
						<input type="text" placeholder="Your Home Address" name="homeAddress">
						<input type="text" placeholder="Postal Code" name="postalCode">
						<input class="btn btn-success" style="background-color: blueviolet" type="submit" value="Create">
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Address section end -->
	
		</body>
	</html>
	