{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/animate.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body>
    <!-- <div class="col-lg-8">
    <form>
            {%  csrf_token %}
        <div class="form-group" action="/addUser">
            <label for="cname">Customer Name</label>
            <input type="text" class="form-control" id="cname" placeholder="Customer Name">
        </div>
        <div class="form-group">
            <label for="cemail">Customer Email</label>
            <input type="text" class="form-control" id="cemail" placeholder="Customer Email">
        </div>
        <div class="form-group">
            <label for="cname">Customer Password</label>
            <input type="text" class="form-control" id="cpassword" placeholder="Customer Password">
        </div>
        <div class="form-group">
            <label for="ccountry">Customer Country</label>
            <input type="text" class="form-control" id="ccountry" placeholder="Customer Country">
        </div>
        <div class="form-group">
            <label for="caddress">Customer caddress</label>
            <input type="text" class="form-control" id="caddress" placeholder="Customer Address">
        </div>
        <div class="form-group">
            <label for="cphoneNo">Customer PhoneNo</label>
            <input type="text" class="form-control" id="cphoneNo" placeholder="Customer PhoneNo">
        </div>
        <div class="form-group">
            <label for="cpostalCode">Customer PostalCode</label>
            <input type="text" class="form-control" id="cpostalCode" placeholder="Customer PostalCode">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div> -->
    <div class="col-lg-4">
        <a href="{% url 'addCustomer' %}">
        <button type="button" class="btn btn-primary">Add Customer</button>
        </a>
    </div>
    <div class="col-lg-10">
            <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">Country</th>
                        <th scope="col">Address</th>
                        <th scope="col">PhoneNo</th>
                        <th scope="col">PostalCode</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                            {% for customer in customers %}
                      <tr>
                        <th scope="row">{{ customer.Cust_id }}</th>
                        <td>{{ customer.Cust_name }}</td>
                        <td>{{ customer.Cust_email }}</td>
                        <td>{{ customer.Cust_password }}</td>
                        <td>{{ customer.Cust_country }}</td>
                        <td>{{ customer.Cust_address }}</td>
                        <td>{{ customer.Cust_phoneNo }}</td>
                        <td>{{ customer.Cust_postalCode }}</td>
                        <td><a href="../edit/{{ customer.Cust_id }}"><button type="button" class="btn btn-primary" >Edit</button></a></td>
                        <td><a href="../delete/{{ customer.Cust_id }}"><button type="button" class="btn btn-dark">Delete</button></a></td>
                        
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
    </div>
</body>
</html>