{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>MY Account</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="{% static 'img/logo.png' %}" rel="shortcut icon"/>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

</head>
<body>
	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="{% url 'main' %}" class="site-logo">
							<img src="{% static 'img/logo.png' %}" alt="">
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
						<form class="header-search-form">
							<input type="text" placeholder="Search on My Mart....">
							<button><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 col-lg-5">
						<div class="user-panel">
							<div class="up-item">
								<i class="flaticon-profile"></i>
								{% if request.session.email %}
									<a href="{% url 'signOut' %}">Sign Out</a>
								{% else %}
									<a href="{% url 'signIn' %}">Sign</a> In or <a href="{% url 'signUp' %}">Create Account</a>
								{% endif %}
								
							</div>
							<div class="up-item">
								<div class="shopping-card">
									<i class="flaticon-bag"></i>
								</div>
								<a href="{% url 'checkout' %}">Shopping Cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="main-navbar">
			<div class="container">
				<!-- menu -->
				<ul class="main-menu">
					<li><a href="{% url 'main' %}">Home</a></li>
					<li><a href="{% url 'categoryFemale' %}">Women</a></li>
					<li><a href="{% url 'categoryMale' %}">Men</a></li>
					<li><a href="#">Child</a></li>
					<li><a href="#">Shoes</a>
						<ul class="sub-menu">
							<li><a href="#">Sneakers</a></li>
							<li><a href="#">Sandals</a></li>
							<li><a href="#">Dress Shoes</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->
	
	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>MY ACCOUNT</h4>
			<div class="site-pagination">
				<a href="{% url 'main' %}">Home</a> /
				<a href="">My Account</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- checkout section  -->
	<section class="checkout-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<form class="checkout-form">
						<div class="list-group" id="list-tab" role="tablist">
								<a class="list-group-item list-group-item-action active" id="list-order-list" data-toggle="list" href="#list-order" role="tab" aria-controls="order">My Order</a>
								<a class="list-group-item list-group-item-action" id="list-orderHistory-list" data-toggle="list" href="#list-orderHistory" role="tab" aria-controls="orderHistory">Order History</a>
								<a class="list-group-item list-group-item-action" id="list-address-list" data-toggle="list" href="#list-address" role="tab" aria-controls="address">My Address</Address></a>
								<a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">My Profile</a>
						</div>								
						</div>
						
					</form>
				
				<div class="col-lg-9 ">
						<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade " id="list-address" role="tabpanel" aria-labelledby="list-address-list">
										<div class="checkout-cart">
												<ul class="price-list">
													<li><h3>Default Addresses</h3></li>
												</ul>
												<hr>
												<ul class="price-list">
													<li>Sub Total<span>$99.90</span></li>
													<li>Delievery Charges<span>free</span></li>
												</ul>
												<hr>
											</div>
								</div>
								<div class="tab-pane fade show active" id="list-order" role="tabpanel" aria-labelledby="list-order-list">
										<div class="cart-table">
												<div class="checkout-cart">
														<ul class="price-list">
																<li><h3>My Order</h3></li>
														</ul>
														<hr>
													<table>
													<tbody>
														<tr>
															<td class="product-col">
																<div class="pc-title">
																	<h4>&nbsp; </h4>
																	<h4>Order #</h4>
																</div>
															</td>
															<td>Status</td>
															<td class="total-col"><h4>Address</h4></td>
															<td class="total-col"><h4>Date</h4></td>
															<td class="total-col"><h4>Cost</h4></td>
														</tr>
														<tr>
															<td class="product-col">
																<div class="pc-title">
																	<h4>&nbsp; </h4>
																	<h4>1</h4>
																</div>
															</td>
															<td>In Way</td>
															<td class="total-col"><h4>House # Zb6243, Bangash Colony</h4></td>
															<td class="total-col"><h4>5 Feb,2019</h4></td>
															<td class="total-col"><h4>Rs 500</h4></td>
														</tr>
													</tbody>
												</table>
												</div>					
										</div>
								</div>
							  </div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- checkout section end -->

	<div class="row">
		<div class="col-3">
		  
		</div>
		<div class="col-8">
		  
		</div>
	  </div>

	<!-- Footer section -->
	<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="#"><img src="{% static './img/logo-light.png' %}" alt=""></a>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2>About</h2>
						<p>A platform where you can buy anything online with best quality.</p>
						<div class="con-info">
							<span>T.</span>
							<p>+92 300 1234567</p>
						</div>
						<div class="con-info">
							<span>E.</span>
							<p>My.Mart@mart.org</p>
						</div>
						<img src="{% static 'img/cards.png' %}" alt="">
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>MY MART</h2>
						<ul>
							<li><a href="">About Us</a></li>
							<li><a href="">Career</a></li>
							<li><a href="">Jobs</a></li>
							<li><a href="">Policy</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>HELP</h2>
						<ul>
							<li><a href="">Ordering</a></li>
							<li><a href="">Pay</a></li>
							<li><a href="">Return</a></li>
							<li><a href="">Delivary</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Apps</h2>
						<div class="fw-latest-post-widget">
							<img src="{% static 'img/appStore.png' %}" alt="" style="margin-bottom: 10px; height: 50px; width: 100px;">
							<br>
							<img src="{% static 'img/googlePlay.jpg' %}" alt=""style="margin-bottom: 10px; height: 50px; width: 100px;">
						</div>
				</div>
			</div> 
		</div>		
	</section>
	<!-- Footer section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>
