@font-face {
	font-family: 'ElegantIcons';
	src:url('fonts/ElegantIcons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.icon_heart {
	font-family: 'ElegantIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon_heart:before {
	content: "\e089";
}