{% extends "admin/change_list.html" %}
{% load staticfiles %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script>
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
        
        window.onload = function () {
            var ctx = document.getElementById("language-chart");
            {% regroup cl.queryset|dictsort:"P_name" by P_name as name_list %}
            lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for P_name in name_list %}'{{ P_name.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for P_name in name_list %}'{{ P_name.list|length }}',{% endfor %}],
                        backgroundColor: [{% for P_name in name_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options: options
            });
           
           ctx = document.getElementById("grades-chart");
           
            {% regroup cl.queryset|dictsort:"P_price" by P_price as cat_list %}
            lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for P_price in cat_list %}'{{ P_price.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for P_price in cat_list %}'{{ P_price.list|length }}',{% endfor %}],
                        backgroundColor: [{% for P_price` in cat_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options: options
            });
        }
    </script>
{% endblock %}
{% block content %}
    <h1> Graphs </h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <canvas id="grades-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas id="language-chart" style="width: 100px !important;"></canvas>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
