{% extends "admin/change_list.html" %}
{% load staticfiles %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script>
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
        
        window.onload = function () {
            var ctx = document.getElementById("product-chart");
            {% regroup cl.queryset|dictsort:"P_id.P_id" by P_id as product_list %}
            lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for P_id in product_list %}'
                    {{ P_id.grouper }}
                    ',{% endfor %}],
                    datasets: [{
                        data: [{% for P_id in product_list %}'{{ P_id.list|length }}',{% endfor %}],
                        backgroundColor: [{% for P_id in product_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options: options
            });
             ctx = document.getElementById("cust-chart");
           
            {% regroup cl.queryset|dictsort:"Cust_id.Cust_id" by Cust_id as cust_list %}
            
            lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for Cust_id in cust_list %}'{{ Cust_id.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for Cust_id in cust_list %}'{{ Cust_id.list|length }}',{% endfor %}],
                        backgroundColor: [{% for Cust_id` in cust_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options: options
            });
        }
    </script>
{% endblock %}
{% block content %}
    <h1> Graphs </h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <canvas id="product-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas id="cust-chart" style="width: 100px !important;"></canvas>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
